.LightBox {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
  background-color: black;

  //border : 3px solid blue;
}

.LightBox-content {
  position: fixed;
  background-color: black;
  padding: 0;
  width: 100vw;
  height: 100vh;

  z-index: 1;

  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;  
 
  //border : 3px solid red;
}

.LightBox-img {
}


.LightBox-close {
  color: white;
  font-size: 35px;
  font-weight: bold;

  transition: 0.6s ease;

  position: fixed;
  top: 10px;
  right: 25px;
  
  z-index: 1;
}

.LightBox-close:hover {
  color: #999;
  cursor: pointer;
}

.LightBox-prev,
.LightBox-next {
  color: white;
  font-size: 20px;
  font-weight: bold;

  transition: 0.6s ease;

  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  
  z-index: 1;
  
}

.LightBox-next {
  right: 0;
}

.LightBox-prev:hover,
.LightBox-next:hover {
  color: #999;
  cursor: pointer;  
}
