.body {
  margin: 0px;
  font-family: 'Calibri';
  font-size: 16pt;
  overflow-x: hidden;
  }

.bg {
  position: fixed;
  top: 0px; 
  left: 0px;
  width: 100vw;
  height:100vh;  
  z-index: -1;
  background-color: white;
  }

.img-in-bg {
  height:100vh;
  display: block;
  margin-left: auto;
  opacity: 0.3;  
  }

.front {
  }

.img-in-front {
	  border: 0px solid black;

  height:100vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  }

.img-in-front-under {
  height:100vh;
  width:100vw;
  display: block;
  position: absolute;
  }

.page-cover {
  border: 2px solid black;
  width: 52ch;
  margin: 10px;
  background-color: black;  
  min-height: 32em;  
  display: flex;
  align-items: center;  
  }

.img-in-page-cover {
  width: 100%;
  }

.img-in-page-cover:hover {
  cursor: pointer;
  }

.page {
  border: 2px solid black;
  padding-left: 2ch;
  padding-right: 2ch;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 48ch;
  //max-height: 50em;
  min-height: 32em;
  //height: 50em;
  margin: 10px;
  background-color: white;  
  }
 
.img-in-page {
  width: 48ch;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  }

.img-in-page:hover {
  cursor: pointer;
  }
 
.paragraph, .paragraph-indent {
  text-align: justify;
  text-justify: inter-word;
  margin: 0px;
  }

.paragraph-indent {
  text-indent: 3ch;  
  }

.font {
  color: black;
  line-height: 1.3;
  }

.font-ref {
  color: DarkGray;
  line-height: 1.3;
  text-decoration: underline;
  }

.img-ref {
  color: black;	
  height:0.7em;
  opacity: 0.2;
  }

.hover-img-beside span {
  position:absolute; left:-9999px; top:-9999px; z-index:-9999;
 }

a:hover .hover-img-beside span, span:hover .hover-img-beside span {
  position: fixed;
  top: 0px; 
  left: 55ch;
  z-index: -1;  
  height: 100vh;
  width: auto;
  display: flex;
  align-items: center;
  background : transparent;

  //border: 3px solid blue;
  }

a:hover .bgc-white span, span:hover .bgc-white span {
  background : white;
}

.img-beside {
  color: black;
  display: block;
  max-height:100%;
  max-width:100%;
  }

span.hover-area {
  }

span.audio-ref:hover {
  cursor: pointer;
  }

.div-ending-trans {
  background-color: black;
  transition: opacity 20s;  
  transition-delay: 0s;
  
  opacity : 0;
  position: fixed;
  top: 0px; 
  left: 0px;
  width: 100vw;
  height:100vh;

  z-index: -1;
  
  //border: 3px solid red;
  }
     
 .img-show {
  height:100vh;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }

.img-show-trans {
  opacity : 0;
  transition: opacity 18s;
  transition-delay: 2s;  
  }

.bgc-purple {
  background-color: #f2e6ff;
  opacity : 0.7;
  }
 
.loading-spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:150px;
  color:ligthgray;
  opacity:0.1;
}

.loading-text {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:30px;
  color:lightgray;
}
