@page {
    size: 148mm 210mm;
    margin: 0mm;
}

.body {
    font-family: Calibri;
    font-size: 21px;
    color: black;
    background-color: white;
}

.page-cover {
    page-break-before: always;
    padding-top: 50mm;
    height: 160mm;
    width: auto;
    margin: 0mm;
    background-color: black;
}

.page {
    page-break-before: always;
    width: auto;
    margin: 10mm;
    background-color: white;
    xxxborder: 1px solid red;
}

.page2 {
  padding-left: 15mm;	 
}

.img-in-page-cover {
	width: 148mm;
}

.img-ref {
    height: 0.7em;
}

.paragraph, .paragraph-indent {
    text-align: justify;
    margin: 0px;
}

.paragraph-indent {
    text-indent: 10mm;
}

.font-ref {
  color: DarkGray;
  }

.head-font-ref {
  color: Black;
  }

.jright {
	text-align:right;
}
